.to-top{
    text-align:center;
}
#scroll-to-top{
    display:none;
    position:fixed;
    bottom:15px;
    right:20px;
    opacity:0.8;
}
#scroll-to-top:hover{
    opacity:1;
}

#Information_3
{
	    position:fixed;
		left: 5%;
}